# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Atom Keyboard Macros'
      'submenu': [
        {
          'label': 'Start Record'
          'command': 'pulsar-keyboard-macros:start_kbd_macro'
        }
        {
          'label': 'Stop Record'
          'command': 'pulsar-keyboard-macros:end_kbd_macro'
        }
        {
          'label': 'Execute Macro'
          'command': 'pulsar-keyboard-macros:call_last_kbd_macro'
        }
        {
          'label': 'Repeat Macro'
          'command': 'pulsar-keyboard-macros:repeat_last_kbd_macro'
        }
        {
          'label': 'Repeat Macro to Bottom'
          'command': 'pulsar-keyboard-macros:execute_macro_to_bottom'
        }
        {
          'label': 'Repeat Macro from Top to Bottom'
          'command': 'pulsar-keyboard-macros:execute_macro_from_top_to_bottom'
        }
        {
          'label': 'Toggle Window'
          'command': 'pulsar-keyboard-macros:toggle'
        }
        {
          'label': 'Quick Load'
          'command': 'pulsar-keyboard-macros:quick_load'
        }
        {
          'label': 'Quick Save'
          'command': 'pulsar-keyboard-macros:quick_save'
        }
        {
          'label': 'Load...'
          'command': 'pulsar-keyboard-macros:load'
        }
        {
          'label': 'Save as...'
          'command': 'pulsar-keyboard-macros:save'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'pulsar-keyboard-macros'
      'submenu': [
        {
          'label': 'Start Record'
          'command': 'pulsar-keyboard-macros:start_kbd_macro'
        }
        {
          'label': 'Stop Record'
          'command': 'pulsar-keyboard-macros:end_kbd_macro'
        }
        {
          'label': 'Execute Macro'
          'command': 'pulsar-keyboard-macros:call_last_kbd_macro'
        }
        {
          'label': 'Repeat Macro'
          'command': 'pulsar-keyboard-macros:repeat_last_kbd_macro'
        }
        {
          'label': 'Repeat Macro to Bottom'
          'command': 'pulsar-keyboard-macros:execute_macro_to_bottom'
        }
        {
          'label': 'Repeat Macro from Top to Bottom'
          'command': 'pulsar-keyboard-macros:execute_macro_from_top_to_bottom'
        }
        {
          'label': 'Toggle Window'
          'command': 'pulsar-keyboard-macros:toggle'
        }
        {
          'label': 'Quick Load'
          'command': 'pulsar-keyboard-macros:quick_load'
        }
        {
          'label': 'Quick Save'
          'command': 'pulsar-keyboard-macros:quick_save'
        }
        {
          'label': 'Load...'
          'command': 'pulsar-keyboard-macros:load'
        }
        {
          'label': 'Save as...'
          'command': 'pulsar-keyboard-macros:save'
        }
      ]
    ]
  }
]
