# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-x (': 'pulsar-keyboard-macros:start_kbd_macro'
  'ctrl-x )': 'pulsar-keyboard-macros:end_kbd_macro'
  'ctrl-x e': 'pulsar-keyboard-macros:call_last_kbd_macro'
  'ctrl-x ctrl-e': 'pulsar-keyboard-macros:repeat_last_kbd_macro'
  'ctrl-x b': 'pulsar-keyboard-macros:execute_macro_to_bottom'
  'ctrl-x ctrl-b': 'pulsar-keyboard-macros:execute_macro_from_top_to_bottom'
